{% extends 'base.html' %} 

{% block content %}
<style>
    .addProduct {
        justify-content: center;
        align-items: center;
        max-width: 700px;
        margin: 40px auto 0;
        padding: 20px;
        background: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    form {
        margin-top: 20px;
    }

    table {
        width: 100%;
    }

    td {
        padding: 10px;
    }

    input.form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    input.btn.add_btn {
        width: 45%;
        padding: 10px;
        background: #c2a790;
        color: #fff;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    input.btn.add_btn:hover {
        background: #3071a9;
    }
    .btn {
        width: 45%;
        padding: 10px;
        background: #c2a790;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        }
</style>

<div class="addProduct">
    <h2 style="text-align: center;">⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆</h2>
    <h1 style="font-family: Luminari, serif;">Add New Prouduct</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn add_btn" type="submit" value="Add Product"/>
        <a class="btn add_btn" href="{% url 'main:show_main' %}">
            Back
        </a>
    </form>
</div>

{% endblock %}