{% extends 'base.html' %}

{% block content %}
    <style>
        .section {
            width: 700px;
            margin: 0 auto;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            margin-bottom: 30px;
        }
        h2 {
            background-color: grey;
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }
        .profile-image {
            width: 100px; 
            border-radius: 50%;
            margin-left: 15%;
            margin-right: 30px;
        }
        .info-column {
            display: flex;
            align-items: center;
        }
        .btn {
        width: 48%;
        padding: 10px;
        background: #c2a790;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        }
        .custom-background {
        background-color: #96877d; 
        color: #fff; 
        }
    </style>

    <nav class="navbar navbar-expand-lg"  style="background-color: #ccc0a7;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-family: Luminari, serif;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" height="35px" width="35px" alt="Logo" style="margin-right: 10px;"> 
                ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆ Latte-Night 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="{% url 'main:create_product' %}">Add New Product</a>
                    <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    
    <div class="section">
        <h2>@{{name}}</h2>
        <div class="info-column">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="Profile Picture" class="profile-image">
            <div>
                <p>Class: {{class}}</p>
                <p>Current inventory: {{item_amount}} drinks menu stored</p>
                <p>Last login session: {{ last_login }}</p>
            </div>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: space-between;">
            <a class="btn" href="{% url 'main:create_product' %}">
                Add New Product
            </a>
            <a class="btn" href="{% url 'main:logout' %}">
                Logout
            </a>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="col-form-label">Category:</label>
                            <input type="text" class="form-control" id="category" name="category"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-md-3 mb-4">
                    <div class="card {% if forloop.last %}custom-background{% endif %}">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">Amount: {{item.amount}}</p>
                            <p class="card-text">Description: {{item.description}}</p>
                            <p class="card-text">Date Added: {{item.date_added}}</p>
                            <p class="card-text">Price: {{item.price}}</p>
                            <p class="card-text">Category: {{item.category}}</p>
                            <div class="text-center">
                                <form method="post" action="{% url 'main:add_amount' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                                <form method="post" action="{% url 'main:substract_amount' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Substract</button>
                                </form>
                                <form method="post" action="{% url 'main:delete_item' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <br />

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json());
        }

        async function refreshProducts() {
            const cardContainer = document.getElementById("product_cards");
            cardContainer.innerHTML = "";
            const products = await getProducts();

            products.forEach((item) => {
                const card = document.createElement("div");
                const addAmount = `{% url 'main:add_amount' 999999%}`.replace('999999', item.id);
                const subsAmount = `{% url 'main:substract_amount' 999999%}`.replace('999999', item.id);
                const delItem = `{% url 'main:delete_item' 999999%}`.replace('999999', item.id);
                card.className = "col-md-3 mb-4";
                card.classList.add(className);

                const cardContent = `
                    <div class="card ${item.is_last ? 'custom-background' : ''}">
                        <div class="card-body">
                            <h5 class="card-title">${item.fields.name}</h5>
                            <p class="card-text">Amount: ${item.fields.amount}</p>
                            <p class="card-text">Description: ${item.fields.description}</p>
                            <p class="card-text">Date Added: ${item.fields.date_added}</p>
                            <p class="card-text">Price: ${item.fields.price}</p>
                            <p class="card-text">Category: ${item.fields.category}</p>
                            <div class="text-center">
                                <a href="${addAmount}" class="btn btn-primary" Add</a>
                                <a href="${subsAmount}" class="btn btn-primary" Substract</a>
                                <a href="${delItem}" class="btn btn-danger" Delete</a>
                            </div>
                        </div>
                    </div>
                `;
                card.innerHTML = cardContent;
            });
        }

        refreshProducts();

        function addProduct() {
            fetch("{% url 'main:create_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts);
            window.location.reload()

            document.getElementById("form").reset();
            return false;
        }

        document.getElementById("button_add").onclick = addProduct;
    </script>
{% endblock content %}